{% load static %}
{% block content %}
<footer>
    <div style="grid-column:2/3;">
        <h3>Contact Us</h3>
        <i class="fa fa-mobile fa-lg"></i>01149228665<br><br>
    </div>
    <div style="display: flex;
    align-items: end;">
        <h3>Copyright © 2022 Star Store. All rights reserved.</h3>
    </div>
    <div>
        <h3>About Us</h3>
        <i class="fa fa-facebook fa-lg"></i><a href="https://www.facebook.com/%D8%A7%D8%A8%D8%B1%D8%A7%D9%87%D9%8A%D9%85-%D8%B9%D9%85%D8%B1-%D9%84%D9%82%D8%B7%D8%B9-%D8%BA%D9%8A%D8%A7%D8%B1-%D8%A7%D9%84%D8%B3%D9%8A%D8%A7%D8%B1%D8%A7%D8%AA-104462777738359/">Facebook</a><br><br>
    </div>
</footer>
{% endblock %}